<h2>Statistics</h2>
<table>
	<tr>
		<th>Total # of successes</th>
		<td><%= @success %></td>
	</tr>
	<tr>
		<th>Total # of fails</th>
		<td><%= @fail %></td>
	</tr>
	<tr>
		<th>Success ratio</th>
		<td><%= @ratio %> %</td>
	</tr>
	<tr>
		<th>Average # of clicks</th>
		<td><%= @clicks %></td>
	</tr>
</table>

<h2>Database content</h2>
<table>
	<tr>
		<th>email</th>
		<th>clicks</th>
		<th>key</th>
	</tr>
<% User.all.each do |user| %>
	<tr>
  		<td><%= user.email %></td>
  		<td><%= user.clicks %></td>
  		<td><%= user.key %></td>
	</tr>  
<% end %>
</table>
